body{
    background: url("../../public/img/mainWallpaper.png") no-repeat;
    background-size: cover;
    margin: 0;
}

.header {
    background-color: #DDA0DD;
    padding: 3px;
    width: 100%;
}

#left {
    text-align: right;
	float:left;
}
#right {
    text-align: left;
	float: right;
}

#mainTitle {
    text-align: center;
}