<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Galeria Waifu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../src/css/galeriaWaifu.css" />
    <script src="../src/js/galeriaWaifu.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <h1 class="title">Galeria Waifu</h1>
    <hr>
    <div class="popup-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/nico1.png">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/nico2.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/nico3.png">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/shimakaze1.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/shimakaze2.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/shimakaze3.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/megumin1.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/megumin2.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="moldura">
                        <img class="miniature" src="../public/img/gallery/megumin3.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>